<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLiNhaHangEntities" connectionString="metadata=res://*/QuanLiNhaHangEntities.csdl|res://*/QuanLiNhaHangEntities.ssdl|res://*/QuanLiNhaHangEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WONN\SQLEXPRESS;initial catalog=QLNH;persist security info=True;user id=truong;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GUI.Properties.Settings.QLNHConnectionString" connectionString="Data Source=WONN\SQLEXPRESS;Initial Catalog=QLNH;Persist Security Info=True;User ID=truong;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <GUI.Properties.Settings>
      <setting name="TenDangNhap" serializeAs="String">
        <value />
      </setting>
      <setting name="MatKhau" serializeAs="String">
        <value />
      </setting>
    </GUI.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <GUI.Properties.Settings>
      <setting name="ThanhTien" serializeAs="String">
        <value>0</value>
      </setting>
    </GUI.Properties.Settings>
  </applicationSettings>
</configuration>